body {
    color: black;
    background: beige;
    margin: 0px;
    font-family: "Lora", serif;
}

header {
    border-bottom: solid 2px darkgreen;
    padding: 20px;
    font-size: 32px;
    color: darkgreen;
}

.chamada {
    background: rgb(211, 196, 173);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 28px;
    font-family: "Saira", sans-serif;
}

p {
    font-size: 16px;
    font-family: "Saira", sans-serif;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 13px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}